@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: fontHeader;
    src: url('/fonts/latin-modern-sans/lmsans8-regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 750px;
    background: rgba( 255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    box-shadow: -1px 3px 44px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 3px 44px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 3px 44px 0px rgba(255,255,255,0.75);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    margin: 0 10px;
}

.wrapper h2 {
    font-size: 47px;
    font-family: "fontHeader";
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 2px 8px rgba(0,0,0,0.98);

}

.sub-title {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 28px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.98);
}

.sub-text {
    font-style: normal;
}

.wrapper .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}

.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.input-box .input-field input::placeholder{
    color: #fff;
}

.input-box .input-field select {
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.input-box .input-field select option {
    color: #000;
    padding-top: 5px;
}

.input-box .input-field select::placeholder {
    color: #fff;
}

.input-box .input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 2px 19px 5px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 2px 19px 5px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 2px 19px 5px rgba(255,255,255,0.75);
    padding: 20px 40px;
    text-align: center;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-success {
    color: white;
}

.text-back {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.text-back:hover {
    color: rgb(207, 207, 207);
}

.mainCss {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0d075f;
  }
  
  .dotsCss {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    transform: translate(0px, -40px);
    animation: bounce 1s infinite;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0px, -10px);
    }
    40% {
      width: 0px;
      height: 2px;
      transform: translate(0px, 40px) scale(1.7);
    }
    100% {
      height: 20px;
      transform: translate(0px, -20px);
    }
  }

@media(max-width: 576px) {
    .input-box .input-field {
        width: 100%;
        margin: 10px 0;
    }
    .card {
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
